PORT=3000
NODE_ENV=development
ACCESS_TOKEN_SECRET=my-super-secret-at-key-123
REFRESH_TOKEN_SECRET=my-super-secret-rt-key-456
JWT_TOKEN_AUDIENCE=users
JWT_TOKEN_ISSUER=auth-api
JWT_ACCESS_TOKEN_TTL=900
JWT_REFRESH_TOKEN_TTL=86400

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=yourpassword
MAIL_FROM=your-email@gmail.com

APP_BASE_URL=http://localhost:3000
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_TLS=false
REDIS_TLS_REJECT_UNAUTHORIZED=true
DB_DRIVER=prisma
GOOGLE_CLIENT_ID=813919457973-59rpuvstsvj6d9el5nlu06q1kr5dps7i.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/authentication/google/callback

DATABASE_URL="postgresql://admin:root@localhost:5432/server_db"