apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  PORT: ''
  NODE_ENV: ''
  APP_BASE_URL: ''
  FRONTEND_URL: ''
  CORS_ORIGINS: ''

  POSTGRES_USER: ''
  POSTGRES_PASSWORD: ''
  POSTGRES_DB: ''
  DATABASE_URL: ''

  REDIS_PORT: ''
  REDIS_HOST: ''
  REDIS_PASSWORD: ''
  REDIS_TLS: ''
  REDIS_TLS_REJECT_UNAUTHORIZED: ''

  ACCESS_TOKEN_SECRET: ''
  REFRESH_TOKEN_SECRET: ''
  JWT_TOKEN_AUDIENCE: ''
  JWT_TOKEN_ISSUER: ''
  JWT_ACCESS_TOKEN_TTL: ''
  JWT_REFRESH_TOKEN_TTL: ''

  GOOGLE_CLIENT_ID: ''
  GOOGLE_CLIENT_SECRET: ''
  GOOGLE_CALLBACK_URL: ''

  STRIPE_WEBHOOK_SECRET: ''
  STRIPE_STARTER_PRICE_ID: ''
  STRIPE_PRO_PRICE_ID: ''
  STRIPE_ENTERPRISE_PRICE_ID: ''

  AZURE_STORAGE_ACCOUNT_NAME: ''
  AZURE_STORAGE_ACCOUNT_KEY: ''
  AZURE_STORAGE_CONTAINER_NAME: ''
  AZURE_STORAGE_CDN_ENDPOINT: ''

  MAIL_FROM_ADDRESS: ''
  RESEND_API_KEY: ''

  GEMINI_API_KEY: ''
  RagBaseUrl: ''

  JITSI_APP_ID: ''
  JITSI_KEY_ID: ''
  JITSI_PRIVATE_KEY: ''
